body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.admin-container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
}

.admin-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.match-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.match-table th, .match-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.match-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.match-table input {
    width: 30px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.submit-button {
    padding: 5px 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

#result-response {
    margin-top: 20px;
    color: green;
}